.myhead{
  background:
  linear-gradient(
      rgba(0,0,0, .4),
      rgba(0, 0, 0, .4)
    ), url("BKBridge.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 800px;
  position: fixed;
  background-attachment: fixed;
  width: 100%;
}

#second{
  font-size: 40px;
}

.fa-chevron-down::before{
  font-size: 20px;
  margin-bottom: -100px;
}

.fa-chevron-down{
    margin-bottom: -100px;
}

#first{
  font-size: 60px;
}

body, html {
    height:100%;
    margin:0;
    padding-top: .1px;
}

#ABOUTWRAPPER{
  background-color: white;
  position: relative;
  margin-top: 800px;
  padding-top: 25px;
  padding-bottom: 25px;
  color: stylish-color-dark;
  width: 100%;
}

.mytext{
  padding-left: 15px;
}

html{
  margin: 0 auto;
}

body{
  margin: 0 auto;
}

.mytitle{
  text-align: center;
  padding-top: 200px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 70px;
}

.dev{
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 50px;

}
.desc{
  text-align: center;
  padding-top: 10px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;

}
.special_m{
  text-align: center;
  color: white;
  font-size: 60px;
  font-family: 'Abril Fatface', cursive;
}

.work{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: black;
  background-color: white;
  position: relative;
  margin-top: 400px;
  padding-top: 25px;
  padding-bottom: 25px;
/*   height: 600px; */
  width: 100%;
}

p{
  margin-bottom: 10px;
}

.learnmore{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: white;
  font-size: 15px;
}

.skills{
  height: 400px;
  text-align: center;
  color: stylish-color-dark;
  font-family: 'Raleway', sans-serif;

}

.skills2{
  margin-top: 50px;
  color: stylish-color-dark;
   font-family: 'Raleway', sans-serif;
  // text-align: center;
}

.skills4{
  color: stylish-color-dark;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

h1{
  margin: 0 auto;
}

h2{
  color: stylish-color-dark;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0 auto;
}

h3{
  color: stylish-color-dark;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0 auto;
}
.about{
   font-family: 'Raleway', sans-serif;
/*   text-align: center; */
}

.center{
  text-align: center;
}

.NYC{
  text-align: left;
}
.text{
   font-family: 'Raleway', sans-serif;
}
.name{
  font-size: 40px;
  float: left;
    color: stylish-color-dark;
  font-family: 'Pacifico', cursive;
  margin: 0 auto;
  padding: 0px;
}
p{
  color: stylish-color-dark;
   font-family: 'Raleway', sans-serif;
}
ul{
  list-style: none;
  float: right;
}
li{
    display: inline-block;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 15px;
    color: stylish-color-dark;
     font-family: 'Raleway', sans-serif;
}
.me {
/*     margin-left: 50px; */
    margin-top: 45px;
}
#aboutmebold{
  font-weight: bold;
}
.myskills{
  text-align: center;
}

.skills3{
  background-color: white;
  position: relative;
  margin-top: 400px;
  padding-top: 25px;
  padding-bottom: 25px;
/*   height: 600px; */
}

.tripcontainer{
  background: url("mytrip.jpg") no-repeat 55%;
  width: 502px;
  height: 290px;
  background-size: 100%;
  padding: 10px;
/*   margin:10px; */
}

.todocontainer{
  background: url("todo.jpg") no-repeat 55%;
  width: 502px;
  height: 290px;
  background-size: 100%;
  padding: 10px;
/*   margin:10px; */
}

.foodcontainer{
  background: url("foodlist.png") no-repeat 55%;
  width: 351px;
  height: 203px;
  background-size: 100%;
/*   margin:10px; */

}

.mealcontainer{
  background: url("mealplan.png") no-repeat 55%;
  width: 351px;
  height: 203px;
  background-size: 100%;
/*   margin:10px; */

}

.messangercontainer{
  background: url("messanger.png") no-repeat 55%;
  width: 351px;
  height: 203px;
  background-size: 100%;
/*   margin:10px; */

}

.hover{
  background:
  linear-gradient(
      rgba(0,0,0, .2),
      rgba(0, 0, 0, .2)
    );
}

.footer{
  background-color: #424242;
  height: 75px;
  display: block;
  margin: 0 auto;
  text-align: center;
  position: relative;
  margin-top: 200px;
}

.left{
  font-family: 'Raleway', sans-serif;
  color: white;
  float: left;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.right{
  float: right;
  margin-top: 10px;
/*   margin-bottom: 10px; */
  margin-right: 15px;
}

.iconz{
  height: 45px;
  width: 45px;
  margin-left: 10px;
}

.logo{
  position: center;
  margin-top: 70px;
  margin-bottom: 10px;
}

img{
  display: inline-block;
}

.contactdetails{
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

input{
  width: 400px;
}

.bottom{
  background-color:white;
  position: fixed;
}

.hi{
  height: 40px;
  width: 40px;
  margin: 40px;
}

button{
  color:black;
  font-family: 'Raleway', sans-serif;
}

.byemichelle{
  font-size: 17px;
  color: stylish-color-dark;
   font-family: 'Raleway', sans-serif;
}

.himichelle{
  font-size:20px;
  color: stylish-color-dark;
}

a{
  color: black;
}

.blackhover{
  color: #99badd;
}

.blackhover:hover{
  color: black;
  text-decoration: underline;
}

.fa-linkedin-square::before{
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;

/*   color: black; */

}

.fa-instagram::before{
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;

/*   color: black; */
}

.fa-github::before{
  margin-top: 50px;
  margin-left: 15px;
  margin-right: 15px;

/*   color: black; */
}

.fa-github:hover{
  color: #99badd;
}

.fa-instagram:hover{
  color: #99badd;
}

.fa-linkedin-square:hover{
  color: #99badd;
}


@media screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .myhead { background-image: none;}
    .iconz { height: 20px;
              width: 20px;
              margin: 0px; }
    .footer{ height: 80px; }
    .mytitle{ padding-top:  0px;
          }
    .myhead{ background-color: #0277bd; }
}
